body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #eae9f2;
    color: #031C3D;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
    margin-bottom: 5%;
}

.about-me {
    font-family: 'Jura', sans-serif;
    font-size: 1.3em;
}

.image img {
    width: 45vw;
    margin-left: 5%;
    border-radius: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 5%;
}

.button {
    border: none;
    max-width: 200px;
    width: 100%;
    height: 70px;
    background-color: #eae9f2;
    box-shadow: 4px 4px 16px 0px rgba(15, 1, 32, 0.3);
    border-radius: 20px;
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.button:hover {
    box-shadow: 4px 4px 16px 0px rgba(15, 1, 32, 0.5);
}

@media screen and (max-width: 1200px) {
    .h1 {
        font-size: 2em;
    }
    .about-me {
        font-size: 1em;
    }
    .button {
        font-size: 1em;
    }
}

@media screen and (max-width: 960px) {
   .container {
    flex-direction: column;
    text-align: center;
   }
   .image img {
    width: 90%;
   }
}

@media screen and (max-width: 540px) {
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 5% auto;
    }
}

